{% extends 'base.html' %}
{% block title %}O autorze{% endblock %}

{% block content %}
    <div class="author-card p-4 bg-light rounded shadow-sm">
        <h3>O autorze</h3>
        <p>Nazywam się <strong>Bartosz Kozioł</strong>. Jestem studentem pierwszego roku informatyki stosowanej na Uniwersytecie Ekonomicznym w Krakowie.</p>
        <p>Moje pasje to samochody, informatyka oraz ekonomia. Łączę w swojej nauce praktyczne zastosowania technologii z analitycznym podejściem do biznesu.</p>
        <p>W wolnym czasie chętnie rozwijam swoje umiejętności programistyczne i śledzę najnowsze trendy w IT.</p>
    </div>
{% endblock %}
